@use "variables" as *;

.u-border--transparentColor {
    border-color: $v-color--highlightTransparent !important;
}

.u-border--dashed {
    border-style: dashed !important;
}

.u-background--highlightColor:hover {
    background-color: $v-color--highlight !important;

    img {
        filter: brightness(0) invert(1);
    }
}

.u-image__textComponents--dimensionBig {
    width: 254px;
    height: 55px;

    @media only screen and (max-width: 415px) {
        width: 100%;
        height: auto;
    }
}

.u-image__textComponents--dimensionSmall {
    width: 127px;
    height: 27px;
}

.u-text--bold {
    font-weight: bold;
}

.u-text--mainColor {
    color: $v-color--main;
}

.u-text--right {
    display: flex;
    justify-content: end;
    margin-top: -10px;
}

.u-margin--leftRight {
    margin: 0 30px;
}