@use "variables" as *;

.u-border--transparentHighlightColor {
    border-color: $highlight-color-transparent !important;
}

.u-border--dashed {
    border-style: dashed !important;
}

.u-background--lightHighlightColor:hover {
    background-color: $highlight-color-light !important;

    img {
        filter: brightness(0) invert(1);
    }
}

.u-image__start--dimensionComponent {
    width: 254px;
    height: 55px;

    @media only screen and (max-width: 415px) {
        width: 100%;
        height: auto;
    }
}

.u-image__navigation--dimensionComponent {
    width: 127px;
    height: 27px;
}

.u-text--bold {
    font-weight: bold;
}

.u-text--mainColor {
    color: $main-color;
}

.u-link--right {
    display: flex;
    justify-content: end;
    margin-top: -10px;
}