/* Color */
$main-color: #6E22B5;
$secondary-color: #2C0E48;
$light-main-color: #F0E8F7;

$light-color: #FCFCFC;
$dark-color: #1B1B1B;

$highlight-color-light: #6EA44F;
$highlight-color-transparent: rgba(110, 164, 79, 0.3);


/* Size, weight, line-height e letter-spacing */
$main-title-size: 36px;
$main-title-weight: 300;
$main-title-lineHeight: 43.5px;
$main-title-letterSpacing: 2.28%;

$highlight-text-size: 20px;
$highlight-text-lineHeight: 28.5px;
$highlight-text-letterSpacing: 2.28%;

$footer-text-size: 14px;
$footer-text-weight: 500;


/* Font */
$font-highlighted-text: 'Londrina Outline';
$font-main-text: 'Raleway';