/* Color */
$v-color--main: #6E22B5;
$v-color--secondary: #2C0E48;
$v-color--mainLight: #F0E8F7;

$v-color--light: #FCFCFC;
$v-color--dark: #1B1B1B;

$v-color--highlight: #6EA44F;
$v-color--highlightTransparent: rgba(110, 164, 79, 0.3);


/* Size, weight, line-height e letter-spacing */
$v-size__title--main: 36px;
$v-weight__title--main: 300;
$v-lineHeight__title--main: 43.5px;
$v-letterSpacing__title--main: 2.28%;

$v-size__text--highlight: 17px;
$v-lineHeight__text--highlight: 28.5px;
$v-letterSpacing__text--highlight: 2.28%;

$v-footer__text--size: 14px;
$v-footer__text--weight: 500;


/* Font */
$v-font__text--highlight: 'Londrina Outline';
$v-font__text--main: 'Raleway';