.t-headerStart {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: 
        "t-headerStart__image--logoWhite t-headerStart__title t-headerStart__image--triangle"
    ;
    margin: 20px;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: 1023px) {
        grid-template-columns: repeat(2, auto);
        grid-template-areas: 
            "t-headerStart__image--logoWhite t-headerStart__title"
            ". t-headerStart__image--triangle"
        ;
        align-items: center;
        column-gap: 20px;
        justify-content: center;
    }
}

.t-headerStart__image--logoWhite {
    grid-area: t-headerStart__image--logoWhite;
}

.t-headerStart__image--triangle {
    grid-area: t-headerStart__image--triangle;
    
    @media only screen and (max-width: 1023px) {
        justify-self: end;
    }
}

.t-headerStart__title {
    grid-area: t-headerStart__title;
}