.t-header__navigation {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content) 2fr auto;
    grid-template-areas: 
        "t-image__navigation t-button__navigation--estilos t-button__navigation--padroes t-button__navigation--componentes . t-image__navigation--triangleRight"
    ;
    grid-gap: 20px;
    height: max-content;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 800px) {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas: 
            "t-image__navigation t-button__navigation--estilos ." 
            "t-button__navigation--padroes t-button__navigation--componentes t-image__navigation--triangleRight"
        ;
    }

    @media only screen and (max-width: 615px) {
        grid-template-columns: repeat(2, max-content);
        grid-template-areas: 
            "t-image__navigation ." 
            "t-button__navigation--estilos t-button__navigation--padroes" 
            "t-button__navigation--componentes t-image__navigation--triangleRight"
        ;
    }

    @media only screen and (max-width: 560px) {
        grid-template-columns: 50px 61px 1fr;
        grid-template-areas: 
            "t-button__navigation--burgerMenu t-image__navigation t-image__navigation--triangleRight"
        ;
    }
}

.t-image__navigation {
    grid-area: t-image__navigation;
    text-align: end;

    @media only screen and (max-width: 615px) {
        text-align: left;
    }

    @media only screen and (max-width: 560px) {
        justify-self: start;
    }
}

.t-button__navigation--estilos {
    grid-area: t-button__navigation--estilos;
    text-decoration: none !important;
}

.t-button__navigation--padroes {
    grid-area: t-button__navigation--padroes;
    text-decoration: none !important;
}

.t-button__navigation--componentes {
    grid-area: t-button__navigation--componentes;
}

.t-image__navigation--triangleRight {
    grid-area: t-image__navigation--triangleRight;
    justify-self: end;
}

.t-button__navigation--burgerMenu {
    grid-area: t-button__navigation--burgerMenu;
    justify-self: center;
}