.t-headerNavigation {
    display: grid;
    grid-template-columns: 1fr repeat(3, max-content) 2fr auto;
    grid-template-areas: 
        "t-headerNavigation__image--logoWhite t-headerNavigation__button--styleGuide t-headerNavigation__button--standards t-headerNavigation__button--components . t-headerNavigation__image--triangle"
    ;
    grid-gap: 20px;
    height: max-content;
    width: 100%;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 800px) {
        grid-template-columns: repeat(3, max-content);
        grid-template-areas: 
            "t-headerNavigation__image--logoWhite t-headerNavigation__button--styleGuide ." 
            "t-headerNavigation__button--standards t-headerNavigation__button--components t-headerNavigation__image--triangle"
        ;
    }

    @media only screen and (max-width: 615px) {
        grid-template-columns: repeat(2, max-content);
        grid-template-areas: 
            "t-headerNavigation__image--logoWhite ." 
            "t-headerNavigation__button--styleGuide t-headerNavigation__button--standards" 
            "t-headerNavigation__button--components t-headerNavigation__image--triangle"
        ;
    }

    @media only screen and (max-width: 560px) {
        grid-template-columns: 50px 61px 1fr;
        grid-template-areas: 
            "t-headerNavigation__button--burgerMenu t-headerNavigation__image--logoWhite t-headerNavigation__image--triangle"
        ;
    }
}

.t-headerNavigation__image--logoWhite {
    grid-area: t-headerNavigation__image--logoWhite;
    text-align: end;

    @media only screen and (max-width: 615px) {
        text-align: left;
    }

    @media only screen and (max-width: 560px) {
        justify-self: start;
    }
}

.t-headerNavigation__image--triangle {
    grid-area: t-headerNavigation__image--triangle;
    justify-self: end;
}

.t-headerNavigation__button--styleGuide {
    grid-area: t-headerNavigation__button--styleGuide;
    text-decoration: none !important;
}

.t-headerNavigation__button--standards {
    grid-area: t-headerNavigation__button--standards;
    text-decoration: none !important;
}

.t-headerNavigation__button--components {
    grid-area: t-headerNavigation__button--components;
}

.t-headerNavigation__button--burgerMenu {
    grid-area: t-headerNavigation__button--burgerMenu;
    justify-self: center;
}