.t-main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: max-content;
    grid-template-areas: 
        "t-main__header"
        "t-main__page"
        "t-main__footer"
    ;
    height: calc(100vh - 20px);
}

.t-main__header {
    grid-area: t-main__header;
}

.t-main__page {
    grid-area: t-main__page;
    padding: 0 10%;
}

.t-main__footer {
    grid-area: t-main__footer;
}