.t-pageComponents {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: 
        "t-pageComponents__title t-pageComponents__title"
        "t-pageComponents__text t-pageComponents__text"
        "t-pageComponents__component--button t-pageComponents__component--iconButton"
        "t-pageComponents__component--chip t-pageComponents__component--card"
    ;
    grid-gap: 20px;
    align-items: end;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 1023px) {
        grid-template-columns: auto;
        grid-template-areas: 
            "t-pageComponents__title"
            "t-pageComponents__text"
            "t-pageComponents__component--button"
            "t-pageComponents__component--iconButton"
            "t-pageComponents__component--chip"
            "t-pageComponents__component--card"
        ;
    }
}

.t-pageComponents__title {
    grid-area: t-pageComponents__title;
    text-decoration: none !important;
}

.t-pageComponents__text {
    grid-area: t-pageComponents__text;
    text-decoration: none !important;
    margin-top: -15px;
}

.t-pageComponents__component--button {
    grid-area: t-pageComponents__component--button;
    text-decoration: none !important;
}

.t-pageComponents__component--iconButton {
    grid-area: t-pageComponents__component--iconButton;
    text-decoration: none !important;
}

.t-pageComponents__component--chip {
    grid-area: t-pageComponents__component--chip;
    text-decoration: none !important;
}

.t-pageComponents__component--card {
    grid-area: t-pageComponents__component--card;
    text-decoration: none !important;
}