.t-page-start {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-areas: 
        "t-button__estilos t-button__padroes t-image"
        "t-button__componentes t-button__texto t-image"
    ;
    grid-gap: 20px;
    align-items: end;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 1023px) {
        grid-template-columns: auto;
        grid-template-areas: 
            "t-button__estilos"
            "t-button__padroes"
            "t-button__componentes"
            "t-button__texto"
            "t-image"
        ;
    }
}

.t-button__estilos {
    grid-area: t-button__estilos;
    text-decoration: none !important;
}

.t-button__padroes {
    grid-area: t-button__padroes;
    text-decoration: none !important;
}

.t-button__componentes {
    grid-area: t-button__componentes;
}

.t-button__texto {
    grid-area: t-button__texto;
}

.t-image {
    grid-area: t-image;
}