.t-pageStart {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-areas: 
        "t-pageStart__button--styleGuide t-pageStart__button--standards t-headerStart__image--logoWhite"
        "t-pageStart__button--components t-pageStart__button--texts t-headerStart__image--logoWhite"
    ;
    grid-gap: 20px;
    align-items: end;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 1023px) {
        grid-template-columns: auto;
        grid-template-areas: 
            "t-pageStart__button--styleGuide"
            "t-pageStart__button--standards"
            "t-pageStart__button--components"
            "t-pageStart__button--texts"
            "t-headerStart__image--logoWhite"
        ;
    }
}

.t-pageStart__button--styleGuide {
    grid-area: t-pageStart__button--styleGuide;
    text-decoration: none !important;
}

.t-pageStart__button--standards {
    grid-area: t-pageStart__button--standards;
    text-decoration: none !important;
}

.t-pageStart__button--components {
    grid-area: t-pageStart__button--components;
}

.t-pageStart__button--texts {
    grid-area: t-pageStart__button--texts;
}

.t-headerStart__image--logoWhite {
    grid-area: t-headerStart__image--logoWhite;
}