.t-page__component {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: 
        "t-title__component t-title__component"
        "t-text__component t-text__component"
        "t-button__component t-icon__component"
        "t-chip__component t-card__component"
    ;
    grid-gap: 20px;
    align-items: end;
    justify-content: center;
    align-content: center;

    @media only screen and (max-width: 1023px) {
        grid-template-columns: auto;
        grid-template-areas: 
            "t-title__component"
            "t-text__component"
            "t-button__component"
            "t-icon__component"
            "t-chip__component"
            "t-card__component"
        ;
    }
}

.t-title__component {
    grid-area: t-title__component;
    text-decoration: none !important;
}

.t-text__component {
    grid-area: t-text__component;
    text-decoration: none !important;
    margin-top: -15px;
}

.t-button__component {
    grid-area: t-button__component;
    text-decoration: none !important;
}

.t-icon__component {
    grid-area: t-icon__component;
    text-decoration: none !important;
}

.t-chip__component {
    grid-area: t-chip__component;
    text-decoration: none !important;
}

.t-card__component {
    grid-area: t-card__component;
    text-decoration: none !important;
}