.m-button {
    border: 6px solid #F3EAFC;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: #ffffff;
    font-family: 'Londrina Outline';
    font-weight: bold;
    color: #6E22B5;
    display: flex;
    align-items: center;
    justify-content: center;

    &--big {
        width: 386px;
        height: 201px;
        font-size: 48px;

        @media only screen and (max-width: 400px) {
            width: 100%;
            height: 100%;
        }
    }

    &--small {
        width: 185px;
        height: 58px;
        font-size: 24px;
    }

    &:hover {
        background-color: #6E22B5;
        border: 6px solid #6E22B5;
        color: #ffffff;
        font-weight: 500;

        a {
            color: #ffffff;
        }
    }
}

.m-button--active {
    border: 6px solid #F3EAFC;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: #F3EAFC;
    font-family: 'Londrina Outline';
    font-weight: bold;
    color: #6E22B5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 58px;
    font-size: 24px;
}

.m-button--active--green {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 9px;
    background-color: rgba(110, 164, 79, 0.3);
    font-family: 'Londrina Outline';
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 58px;
    font-size: 24px;

    img {
        filter: contrast(75%) brightness(75%);
    }
}

%m-button__burgerMenu--style {
    background: none;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.m-button__burgerMenu--open {
    @extend %m-button__burgerMenu--style;

    @media only screen and (min-width: 560px) {
        display: none;
    }
}

.m-button__burgerMenu--close {
    @extend %m-button__burgerMenu--style;
    width: 20px;
}

.m-button__burgerMenu {
    font-family: 'Londrina Outline';
    font-weight: 600;
    font-size: 36px;
    color: #6E22B5;

    &:hover {
        color: #37115A;
        font-weight: bolder;
    }
}

.m-button__burgerMenu--green {
    filter: contrast(75%) brightness(75%);

    &:hover {
        filter: contrast(55%) brightness(55%);
        cursor: pointer;
    }
}

.m-button__burgerMenu--active {
    font-family: 'Londrina Outline';
    font-weight: bolder;
    font-size: 36px;
    color: #37115A;
}

.m-button__burgerMenu--active--green {
    filter: contrast(55%) brightness(55%);
}