@use "../core/variables" as *;

%a-text__link--main {
    color: $v-color--main;
    text-decoration: underline;
}

a {
    @extend %a-text__link--main;

    &:visited {
        @extend %a-text__link--main;
    }

    &:active {
        @extend %a-text__link--main;
    }

    &:hover {
        color: $v-color--secondary;
        text-decoration: underline;
    }
}