@use "../core/variables" as *;
@use "../core/font" as *;

body {
    color: $dark-color;
    background-color: $light-color;
}

body, p {
    font-family: $font-main-text;
    line-height: 1.5;
}

.a-title__main {
    font-size: $main-title-size;
    font-weight: $main-title-weight;
    line-height: $main-title-lineHeight;
    letter-spacing: $main-title-letterSpacing;
    color: $main-color;
}

.a-text__highlight {
    font-size: $highlight-text-size;
    line-height: $highlight-text-lineHeight;
    letter-spacing: $highlight-text-letterSpacing;
}

.a-text__footer {
    font-size: $footer-text-size;
    font-weight: $footer-text-weight;
}