@use "../core/variables" as *;
@use "../core/font" as *;

body {
    color: $v-color--dark;
    background-color: $v-color--light;
}

body, p {
    font-family: $v-font__text--main;
    line-height: 1.5;
}

.a-title--main {
    font-size: $v-size__title--main;
    font-weight: $v-weight__title--main;
    line-height: $v-lineHeight__title--main;
    letter-spacing: $v-letterSpacing__title--main;
    color: $v-color--main;
}

.a-text--highlight {
    font-size: $v-size__text--highlight;
    line-height: $v-lineHeight__text--highlight;
    letter-spacing: $v-letterSpacing__text--highlight;
}

.a-text__footer {
    font-size: $v-footer__text--size;
    font-weight: $v-footer__text--weight;
}