@use "../core/variables" as *;

.o-tabs {
    display: flex;
    cursor: pointer;
    margin-top: 20px;
}

.o-tab {
    padding: 10px 20px;
    border: none;
    font-weight: 600;
}

input[type="radio"]:not(:checked) + .o-tab:hover {
    background-color: $v-color--main;
    border-radius: 9px 9px 0 0;
    color: $v-color--light;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: $v-color--mainLight;
    border: none;
    border-radius: 9px 9px 0 0;
    font-weight: 600;
}

.o-tab__line {
    border-top: 1px solid $v-color--main;
    padding: 15px;
}

.o-tab__content--hide {
    display: none;
}

.o-tabs:has(#tab1:checked) ~ .o-tab__line .o-tab__content--showFirst,
.o-tabs:has(#tab2:checked) ~ .o-tab__line .o-tab__content--showSecond {
    display: block;
}