@charset "UTF-8";
/* Configurações básicas */
/* Color */
/* Size, weight, line-height e letter-spacing */
/* Font */
.u-border--transparentHighlightColor {
  border-color: rgba(110, 164, 79, 0.3) !important;
}

.u-border--dashed {
  border-style: dashed !important;
}

.u-background--lightHighlightColor:hover {
  background-color: #6EA44F !important;
}
.u-background--lightHighlightColor:hover img {
  filter: brightness(0) invert(1);
}

.u-image__start--dimensionComponent {
  width: 254px;
  height: 55px;
}
@media only screen and (max-width: 415px) {
  .u-image__start--dimensionComponent {
    width: 100%;
    height: auto;
  }
}

.u-image__navigation--dimensionComponent {
  width: 127px;
  height: 27px;
}

.u-text--bold {
  font-weight: bold;
}

.u-text--mainColor {
  color: #6E22B5;
}

.u-link--right {
  display: flex;
  justify-content: end;
  margin-top: -10px;
}

@font-face {
  font-family: "Londrina Outline";
  src: url("../Fonts/LondrinaOutline-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900; /* Faixa de pesos variáveis */
}
@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900; /* Faixa de pesos variáveis */
}
/* Classes individuais e elementos pequenos e reutilizáveis */
body {
  color: #1B1B1B;
  background-color: #FCFCFC;
}

body, p {
  font-family: "Raleway";
  line-height: 1.5;
}

.a-title__main {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.5px;
  letter-spacing: 2.28%;
  color: #6E22B5;
}

.a-text__highlight {
  font-size: 20px;
  line-height: 28.5px;
  letter-spacing: 2.28%;
}

.a-text__footer {
  font-size: 14px;
  font-weight: 500;
}

a:active, a:visited, a {
  color: #6E22B5;
  text-decoration: underline;
}

a:hover {
  color: #2C0E48;
  text-decoration: underline;
}

/* Cria um elemento 'pai' para modificar os átomos */
.m-button__active, .m-button {
  border: 6px solid #F0E8F7;
  color: #6E22B5;
}

.m-button__active--highlight, .m-button__active, .m-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: "Londrina Outline";
  font-weight: bold;
}

.m-button {
  background-color: #FCFCFC;
}
.m-button--big {
  width: 386px;
  height: 201px;
  font-size: 48px;
}
@media only screen and (max-width: 400px) {
  .m-button--big {
    width: 100%;
    height: 100%;
  }
}
.m-button--small {
  width: 185px;
  height: 58px;
  font-size: 24px;
}
.m-button:hover {
  background-color: #6E22B5;
  border: 6px solid #6E22B5;
  color: #FCFCFC;
  font-weight: 500;
}
.m-button:hover a {
  color: #FCFCFC;
}

.m-button__active {
  background-color: #F0E8F7;
  width: 185px;
  height: 58px;
  font-size: 24px;
}

.m-button__active--highlight {
  background-color: rgba(110, 164, 79, 0.3);
  width: 185px;
  height: 58px;
}
.m-button__active--highlight img {
  filter: contrast(75%) brightness(75%);
}

.m-button__burgerMenu--close, .m-button__burgerMenu--open {
  background: none;
  border: none;
  color: #2C0E48;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 560px) {
  .m-button__burgerMenu--open {
    display: none;
  }
}

.m-button__burgerMenu--close {
  width: 20px;
}

/* Estruturas maiores do projeto, que podem modificar átomos e moléculas */
.o-tabs {
  display: flex;
  cursor: pointer;
  margin-top: 20px;
}

.o-tab {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
}

input[type=radio]:not(:checked) + .o-tab:hover {
  background-color: #6E22B5;
  border-radius: 9px 9px 0 0;
  color: #FCFCFC;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: #F0E8F7;
  border: none;
  border-radius: 9px 9px 0 0;
  font-weight: 600;
}

.o-content {
  border-top: 1px solid #6E22B5;
  padding: 15px;
}

.o-tab-content {
  display: none;
}

.o-tabs:has(#tab1:checked) ~ .o-content .o-tab-content-1,
.o-tabs:has(#tab2:checked) ~ .o-content .o-tab-content-2 {
  display: block;
}

.o-burgerMenu__dialog {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #FCFCFC;
  color: #1B1B1B;
  box-shadow: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@media only screen and (min-width: 560px) {
  .o-burgerMenu__dialog {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .o-burgerMenu__dialog ~ :is(a:has(div), div) {
    display: none;
  }
}

header:has(#menuToggle:checked) .o-burgerMenu__dialog {
  transform: translateX(0);
}
header:has(#menuToggle:checked) .m-button__burgerMenu--open {
  pointer-events: none;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}
nav a {
  color: #FCFCFC;
  text-decoration: none !important;
  font-size: 1.2rem;
}
nav ul {
  list-style: none;
  padding: 0;
  justify-items: center;
}
nav li {
  margin: 2rem 0;
}

/* Sistemas de grids e alinhamentos de organismos */
.t-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content;
  grid-template-areas: "t-header" "t-page" "t-footer";
  height: calc(100vh - 20px);
}

.t-header {
  grid-area: t-header;
}

.t-page {
  grid-area: t-page;
}

.t-footer {
  grid-area: t-footer;
}

.t-header__start {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "t-image__start t-title__start t-image__start--triangleRight";
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .t-header__start {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "t-image__start t-title__start" ". t-image__start--triangleRight";
    align-items: center;
    column-gap: 20px;
    justify-content: center;
  }
}

.t-image__start {
  grid-area: t-image__start;
}

.t-title__start {
  grid-area: t-title__start;
}

.t-image__start--triangleRight {
  grid-area: t-image__start--triangleRight;
}
@media only screen and (max-width: 1023px) {
  .t-image__start--triangleRight {
    justify-self: end;
  }
}

.t-header__navigation {
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content) 2fr auto;
  grid-template-areas: "t-image__navigation t-button__navigation--estilos t-button__navigation--padroes t-button__navigation--componentes . t-image__navigation--triangleRight";
  grid-gap: 20px;
  height: max-content;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .t-header__navigation {
    grid-template-columns: repeat(3, max-content);
    grid-template-areas: "t-image__navigation t-button__navigation--estilos ." "t-button__navigation--padroes t-button__navigation--componentes t-image__navigation--triangleRight";
  }
}
@media only screen and (max-width: 615px) {
  .t-header__navigation {
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: "t-image__navigation ." "t-button__navigation--estilos t-button__navigation--padroes" "t-button__navigation--componentes t-image__navigation--triangleRight";
  }
}
@media only screen and (max-width: 560px) {
  .t-header__navigation {
    grid-template-columns: 50px 61px 1fr;
    grid-template-areas: "t-button__navigation--burgerMenu t-image__navigation t-image__navigation--triangleRight";
  }
}

.t-image__navigation {
  grid-area: t-image__navigation;
  text-align: end;
}
@media only screen and (max-width: 615px) {
  .t-image__navigation {
    text-align: left;
  }
}
@media only screen and (max-width: 560px) {
  .t-image__navigation {
    justify-self: start;
  }
}

.t-button__navigation--estilos {
  grid-area: t-button__navigation--estilos;
  text-decoration: none !important;
}

.t-button__navigation--padroes {
  grid-area: t-button__navigation--padroes;
  text-decoration: none !important;
}

.t-button__navigation--componentes {
  grid-area: t-button__navigation--componentes;
}

.t-image__navigation--triangleRight {
  grid-area: t-image__navigation--triangleRight;
  justify-self: end;
}

.t-button__navigation--burgerMenu {
  grid-area: t-button__navigation--burgerMenu;
  justify-self: center;
}

.t-page__start {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas: "t-button__start--estilos t-button__start--padroes t-image__start" "t-button__start--componentes t-button__start--texto t-image__start";
  grid-gap: 20px;
  align-items: end;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 1023px) {
  .t-page__start {
    grid-template-columns: auto;
    grid-template-areas: "t-button__start--estilos" "t-button__start--padroes" "t-button__start--componentes" "t-button__start--texto" "t-image__start";
  }
}

.t-button__start--estilos {
  grid-area: t-button__start--estilos;
  text-decoration: none !important;
}

.t-button__start--padroes {
  grid-area: t-button__start--padroes;
  text-decoration: none !important;
}

.t-button__start--componentes {
  grid-area: t-button__start--componentes;
}

.t-button__start--texto {
  grid-area: t-button__start--texto;
}

.t-image__start {
  grid-area: t-image__start;
}

.t-page__navigation {
  margin: 0 30px;
}

.t-page__component {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "t-title__component t-title__component" "t-text__component t-text__component" "t-button__component t-icon__component" "t-chip__component t-card__component";
  grid-gap: 20px;
  align-items: end;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 1023px) {
  .t-page__component {
    grid-template-columns: auto;
    grid-template-areas: "t-title__component" "t-text__component" "t-button__component" "t-icon__component" "t-chip__component" "t-card__component";
  }
}

.t-title__component {
  grid-area: t-title__component;
  text-decoration: none !important;
}

.t-text__component {
  grid-area: t-text__component;
  text-decoration: none !important;
  margin-top: -15px;
}

.t-button__component {
  grid-area: t-button__component;
  text-decoration: none !important;
}

.t-icon__component {
  grid-area: t-icon__component;
  text-decoration: none !important;
}

.t-chip__component {
  grid-area: t-chip__component;
  text-decoration: none !important;
}

.t-card__component {
  grid-area: t-card__component;
  text-decoration: none !important;
}

.t-footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "t-image__triangle--left t-text";
  justify-content: stretch;
  align-items: end;
  padding: 20px 20px 20px 10px;
}

.t-image__triangle--left {
  grid-area: t-image__triangle--left;
}

.t-text {
  grid-area: t-text;
}

/*# sourceMappingURL=style.css.map */
