@charset "UTF-8";
/* Configurações básicas */
/* Color */
/* Size, weight, line-height e letter-spacing */
/* Font */
.u-border--transparentColor {
  border-color: rgba(110, 164, 79, 0.3) !important;
}

.u-border--dashed {
  border-style: dashed !important;
}

.u-background--highlightColor:hover {
  background-color: #6EA44F !important;
}
.u-background--highlightColor:hover img {
  filter: brightness(0) invert(1);
}

.u-image__textComponents--dimensionBig {
  width: 254px;
  height: 55px;
}
@media only screen and (max-width: 415px) {
  .u-image__textComponents--dimensionBig {
    width: 100%;
    height: auto;
  }
}

.u-image__textComponents--dimensionSmall {
  width: 127px;
  height: 27px;
}

.u-text--bold {
  font-weight: bold;
}

.u-text--mainColor {
  color: #6E22B5;
}

.u-text--right {
  display: flex;
  justify-content: end;
  margin-top: -10px;
}

.u-margin--leftRight {
  margin: 0 30px;
}

@font-face {
  font-family: "Londrina Outline";
  src: url("../Fonts/LondrinaOutline-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 100 900; /* Faixa de pesos variáveis */
}
@font-face {
  font-family: "Raleway";
  src: url("../Fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
  font-weight: 100 900; /* Faixa de pesos variáveis */
}
/* Classes individuais e elementos pequenos e reutilizáveis */
body {
  color: #1B1B1B;
  background-color: #FCFCFC;
}

body, p {
  font-family: "Raleway";
  line-height: 1.5;
}

.a-title--main {
  font-size: 36px;
  font-weight: 300;
  line-height: 43.5px;
  letter-spacing: 2.28%;
  color: #6E22B5;
}

.a-text--highlight {
  font-size: 20px;
  line-height: 28.5px;
  letter-spacing: 2.28%;
}

.a-text__footer {
  font-size: 14px;
  font-weight: 500;
}

a:active, a:visited, a {
  color: #6E22B5;
  text-decoration: underline;
}

a:hover {
  color: #2C0E48;
  text-decoration: underline;
}

/* Cria um elemento 'pai' para modificar os átomos */
.m-button--active, .m-button {
  border: 6px solid #F0E8F7;
  color: #6E22B5;
}

.m-button--activeHighlight, .m-button--active, .m-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 9px;
  font-family: "Londrina Outline";
  font-weight: bold;
}

.m-button {
  background-color: #FCFCFC;
}
.m-button--big {
  width: 386px;
  height: 201px;
  font-size: 48px;
}
@media only screen and (max-width: 400px) {
  .m-button--big {
    width: 100%;
    height: 100%;
  }
}
.m-button--small {
  width: 185px;
  height: 58px;
  font-size: 24px;
}
.m-button:hover {
  background-color: #6E22B5;
  border: 6px solid #6E22B5;
  color: #FCFCFC;
  font-weight: 500;
}
.m-button:hover a {
  color: #FCFCFC;
}

.m-button--active {
  background-color: #F0E8F7;
  width: 185px;
  height: 58px;
  font-size: 24px;
}

.m-button--activeHighlight {
  background-color: rgba(110, 164, 79, 0.3);
  width: 185px;
  height: 58px;
}
.m-button--activeHighlight img {
  filter: contrast(75%) brightness(75%);
}

.m-button__burgerMenu--close, .m-button__burgerMenu--open {
  background: none;
  border: none;
  color: #2C0E48;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 560px) {
  .m-button__burgerMenu--open {
    display: none;
  }
}

.m-button__burgerMenu--close {
  width: 20px;
}

/* Estruturas maiores do projeto, que podem modificar átomos e moléculas */
.o-tabs {
  display: flex;
  cursor: pointer;
  margin-top: 20px;
}

.o-tab {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
}

input[type=radio]:not(:checked) + .o-tab:hover {
  background-color: #6E22B5;
  border-radius: 9px 9px 0 0;
  color: #FCFCFC;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label {
  background-color: #F0E8F7;
  border: none;
  border-radius: 9px 9px 0 0;
  font-weight: 600;
}

.o-tab__line {
  border-top: 1px solid #6E22B5;
  padding: 15px;
}

.o-tab__content--hide {
  display: none;
}

.o-tabs:has(#tab1:checked) ~ .o-tab__line .o-tab__content--showFirst,
.o-tabs:has(#tab2:checked) ~ .o-tab__line .o-tab__content--showSecond {
  display: block;
}

.o-burgerMenu__dialog {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #FCFCFC;
  color: #1B1B1B;
  box-shadow: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
@media only screen and (min-width: 560px) {
  .o-burgerMenu__dialog {
    display: none;
  }
}
@media only screen and (max-width: 560px) {
  .o-burgerMenu__dialog ~ :is(a:has(div), div) {
    display: none;
  }
}

header:has(#menuToggle:checked) .o-burgerMenu__dialog {
  transform: translateX(0);
}
header:has(#menuToggle:checked) .m-button__burgerMenu--open {
  pointer-events: none;
}

nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}
nav a {
  color: #FCFCFC;
  text-decoration: none !important;
  font-size: 1.2rem;
}
nav ul {
  list-style: none;
  padding: 0;
  justify-items: center;
}
nav li {
  margin: 2rem 0;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 10px;
}

/* Sistemas de grids e alinhamentos de organismos */
.t-main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content;
  grid-template-areas: "t-main__header" "t-main__page" "t-main__footer";
  height: calc(100vh - 20px);
}

.t-main__header {
  grid-area: t-main__header;
}

.t-main__page {
  grid-area: t-main__page;
  padding: 0 10%;
}

.t-main__footer {
  grid-area: t-main__footer;
}

.t-headerStart {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "t-headerStart__image--logoWhite t-headerStart__title t-headerStart__image--triangle";
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1023px) {
  .t-headerStart {
    grid-template-columns: repeat(2, auto);
    grid-template-areas: "t-headerStart__image--logoWhite t-headerStart__title" ". t-headerStart__image--triangle";
    align-items: center;
    column-gap: 20px;
    justify-content: center;
  }
}

.t-headerStart__image--logoWhite {
  grid-area: t-headerStart__image--logoWhite;
}

.t-headerStart__image--triangle {
  grid-area: t-headerStart__image--triangle;
}
@media only screen and (max-width: 1023px) {
  .t-headerStart__image--triangle {
    justify-self: end;
  }
}

.t-headerStart__title {
  grid-area: t-headerStart__title;
}

.t-headerNavigation {
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content) 2fr auto;
  grid-template-areas: "t-headerNavigation__image--logoWhite t-headerNavigation__button--styleGuide t-headerNavigation__button--standards t-headerNavigation__button--components . t-headerNavigation__image--triangle";
  grid-gap: 20px;
  height: max-content;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 800px) {
  .t-headerNavigation {
    grid-template-columns: repeat(3, max-content);
    grid-template-areas: "t-headerNavigation__image--logoWhite t-headerNavigation__button--styleGuide ." "t-headerNavigation__button--standards t-headerNavigation__button--components t-headerNavigation__image--triangle";
  }
}
@media only screen and (max-width: 615px) {
  .t-headerNavigation {
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: "t-headerNavigation__image--logoWhite ." "t-headerNavigation__button--styleGuide t-headerNavigation__button--standards" "t-headerNavigation__button--components t-headerNavigation__image--triangle";
  }
}
@media only screen and (max-width: 560px) {
  .t-headerNavigation {
    grid-template-columns: 50px 61px 1fr;
    grid-template-areas: "t-headerNavigation__button--burgerMenu t-headerNavigation__image--logoWhite t-headerNavigation__image--triangle";
  }
}

.t-headerNavigation__image--logoWhite {
  grid-area: t-headerNavigation__image--logoWhite;
  text-align: end;
}
@media only screen and (max-width: 615px) {
  .t-headerNavigation__image--logoWhite {
    text-align: left;
  }
}
@media only screen and (max-width: 560px) {
  .t-headerNavigation__image--logoWhite {
    justify-self: start;
  }
}

.t-headerNavigation__image--triangle {
  grid-area: t-headerNavigation__image--triangle;
  justify-self: end;
}

.t-headerNavigation__button--styleGuide {
  grid-area: t-headerNavigation__button--styleGuide;
  text-decoration: none !important;
}

.t-headerNavigation__button--standards {
  grid-area: t-headerNavigation__button--standards;
  text-decoration: none !important;
}

.t-headerNavigation__button--components {
  grid-area: t-headerNavigation__button--components;
}

.t-headerNavigation__button--burgerMenu {
  grid-area: t-headerNavigation__button--burgerMenu;
  justify-self: center;
}

.t-pageStart {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-areas: "t-pageStart__button--styleGuide t-pageStart__button--standards t-headerStart__image--logoWhite" "t-pageStart__button--components t-pageStart__button--texts t-headerStart__image--logoWhite";
  grid-gap: 20px;
  align-items: end;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 1023px) {
  .t-pageStart {
    grid-template-columns: auto;
    grid-template-areas: "t-pageStart__button--styleGuide" "t-pageStart__button--standards" "t-pageStart__button--components" "t-pageStart__button--texts" "t-headerStart__image--logoWhite";
  }
}

.t-pageStart__button--styleGuide {
  grid-area: t-pageStart__button--styleGuide;
  text-decoration: none !important;
}

.t-pageStart__button--standards {
  grid-area: t-pageStart__button--standards;
  text-decoration: none !important;
}

.t-pageStart__button--components {
  grid-area: t-pageStart__button--components;
}

.t-pageStart__button--texts {
  grid-area: t-pageStart__button--texts;
}

.t-headerStart__image--logoWhite {
  grid-area: t-headerStart__image--logoWhite;
}

.t-pageComponents {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-areas: "t-pageComponents__title t-pageComponents__title" "t-pageComponents__text t-pageComponents__text" "t-pageComponents__component--button t-pageComponents__component--iconButton" "t-pageComponents__component--chip t-pageComponents__component--card";
  grid-gap: 20px;
  align-items: end;
  justify-content: center;
  align-content: center;
}
@media only screen and (max-width: 1023px) {
  .t-pageComponents {
    grid-template-columns: auto;
    grid-template-areas: "t-pageComponents__title" "t-pageComponents__text" "t-pageComponents__component--button" "t-pageComponents__component--iconButton" "t-pageComponents__component--chip" "t-pageComponents__component--card";
  }
}

.t-pageComponents__title {
  grid-area: t-pageComponents__title;
  text-decoration: none !important;
}

.t-pageComponents__text {
  grid-area: t-pageComponents__text;
  text-decoration: none !important;
  margin-top: -15px;
}

.t-pageComponents__component--button {
  grid-area: t-pageComponents__component--button;
  text-decoration: none !important;
}

.t-pageComponents__component--iconButton {
  grid-area: t-pageComponents__component--iconButton;
  text-decoration: none !important;
}

.t-pageComponents__component--chip {
  grid-area: t-pageComponents__component--chip;
  text-decoration: none !important;
}

.t-pageComponents__component--card {
  grid-area: t-pageComponents__component--card;
  text-decoration: none !important;
}

.t-main__footer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas: "t-main__footer--imageTriangle t-main__footer--text";
  justify-content: stretch;
  align-items: end;
  padding: 20px 20px 20px 10px;
}

.t-main__footer--imageTriangle {
  grid-area: t-main__footer--imageTriangle;
}

.t-main__footer--text {
  grid-area: t-main__footer--text;
}

/*# sourceMappingURL=style.css.map */
